[user]
	email = mohamed.alsharaf@gmail.com
	name = Mohamed Alsharaf
[core]
	excludesfile = ~/.gitignore_global
	compression = 0
[alias]
  # https://hackernoon.com/lesser-known-git-commands-151a1918a60#.3fu1ls3br
  please = push --force-with-lease
  commend = commit --amend --no-edit
  shorty = status --short --branch
  gog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
  gog2 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

  lg = log --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep
  l = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
  pushall= "!f() { git push origin $1 && git push gitlab $1; }; f"
  pushm =  "!f() { git push origin master && git push gitlab master; }; f"
  #merge
  mergenf = merge --no-ff
  mergef =  merge --ff-only
  # Search commits by source code & search commits by message
  fcode = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"
  fcommit = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -i --grep=$1; }; f"
  work = "!f() { git checkout master && git checkout -b $1; }; f"
  permission-reset = "!f() { git diff -p -R --no-color | grep -E '^(diff|(old|new) mode)' --color=never | git apply; }; f"
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
